.gradle
build/
FitNesseRoot/FrontPage/
FitNesseRoot/GradleClasspath/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/RecentChanges/
FitNesseRoot/TemplateLibrary/
TestDir/
fitnesse-git-plugin.iml
fitnesse-git-plugin.ipr
fitnesse-git-plugin.iws
out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Created by .ignore support plugin (hsz.mobi)
